body {margin:0;}

.navsomething {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

li {
  display: inline-block;
}

li a {
    display: inline-block;
    color: #778899;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #fff;

}

li a:hover:not(.active) {
    border-radius: 7px;
    box-sizing: border-box;
    border: 2px solid #778899;
}

li a:hover:after {
    background-color: transparent;
}

.active {
    color: #6C293A;
    border-radius: 7px;
    box-sizing: border-box;
    border: 2px solid #6C293A;

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/



  .topslider {
    padding:20px;
    padding-top:50px;
    margin-top:80px;
    background-color: #6C293A;
    color: white;

  }
  .topmedia {
    /*width: 100%;*/
    max-height: 400px;
  }
  .bottomdiv {
    text-align: center;
  }

@media (min-width: 768px) {

  .topslider {
    padding:20px;
    margin-top:80px;
    background-color: #6C293A;
    color: white;

  }
  .bottomdiv {
    text-align: right;
  }
  .topmedia {
    height: 100%;
    max-height: 400px;
  }

}

.topcontent {
  max-width: 650px;
  width: 80%;
  padding: 50px;
  margin: 0 auto;
  /*background-color: black;*/
  text-align: center;
}

.bottomcontainer {
  /*max-width: 750px;*/
  margin: 0 auto;
  /*background-color: black;*/
}
.bottommedia {
  float: right;
  max-width: 300px;
  bottom: 0;
}
.info1 {
  background-color: black;
  width: 400px;

}

.card {
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 500px;
}
.cheader {
  font-family: 'Roboto', sans-serif;
  color: #778899;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 500px;
}

.card_body {
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  color: #778899;
}

.card_date {
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  background-color: #3E5C76;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.socialmedia {
  overflow:auto;

  background-color: #778899;
  border: none !important;
}

.socialinfo {
  /*background-color: #fff;*/
  width: 300px;
  margin: 0 auto;
  padding-left: 0px;
  text-align: center;
}
.sm {
  margin: 0 auto;
  border: none
}

.sheader {
  margin: 0 auto;
  color: #fff;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.smbtn {
  margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
  width: 150px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom: 10px;
}
